.main{
    flex-grow: 1;
    margin-top: 32px;
}
.main-container{
    gap: 50px;
}
.content{
    width: 100%;
    background-color: white;
    padding: 25px;
    min-height: 500px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    border-radius: 12px;
   
}
.content h2{
    font-size: 32px;
    font-weight: 600;
    margin: 23px 0 12px;
}
.content-img{
    width: 100%;

    
}
.content-bgi{
    overflow: hidden;
    position: relative;
    height: 300px;
    border-radius: 32px;
}

.content-bgi h1{
    top: 23px;
    left: 23px;
    color: #F2F8FD;
    font-weight: 800;
    font-size: 60px;
    position: absolute;
}
.server-ip{
    display: flex;
    gap: 7px;
    position: absolute;
    bottom: 23px;
    right: 23px;
    
}

.server-ip span, button{
    display: flex;
    align-items: center;
    color: #052555;
    font-size: 23px;
    font-weight: 600;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 9px;
    padding: 7px 12px;
}

.content-description{
    margin: 27px 0px 12px 0;
    font-size: 17px;
}
.content-description span{
    font-size: 23px;
    font-weight: 500;

}


.offers{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 12px; 

}
.offer{
    cursor: pointer;
    font-size: 15px;
    padding: 17px 14px;
    background-color:#dbeaff;
    border-radius: 7px;
    min-height: 123px;
    display: flex;
    align-items: center;
    transition: .3s ease;
    &:hover{
        box-shadow: 0 0px 6px #0044a48e;
    }
}
.offer span{
    font-size:50px
}
@media (max-width: 575px) {
    .container{
        max-width: 100%;
    }
    .main-container{
        flex-direction: column;
    }
    .offers{
        height: auto;
        grid-template-columns: 1fr;
    }
    .main_sidebar{
        width: 100%;
    }
}

